<!DOCTYPE html>
<!-- 前台页面个人中心页面 -> lj [2018/01/26] -->
<html>
<head>
    <meta charset="utf-8">
    <title>不落阁个人中心</title>
                <!-- 以下为css文件 -->
    <!--Layui-->
    <link href="__PUBLIC__/plug/layui/css/layui.css" rel="stylesheet" />
    <!--font-awesome-->
    <link href="__PUBLIC__/plug/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--全局样式表-->
    <link href="__PUBLIC__/index/Css/global.css" rel="stylesheet" />
    <!-- 本页样式表 -->
    <!-- <link href="__PUBLIC__/index/Css/personalcenter.css" rel="stylesheet" /> -->
</head>
<!-- <body> -->
   <!--  <form action="">
        <input type="text" name="userName" id="userName" placeholder="请输入用户名">
    </form> -->

    <body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item"><a href="">控制台</a></li>
          <li class="layui-nav-item"><a href="">商品管理</a></li>
          <li class="layui-nav-item"><a href="">用户</a></li>
          <li class="layui-nav-item">
            <a href="javascript:;">其它系统</a>
            <dl class="layui-nav-child">
              <dd><a href="">邮件管理</a></dd>
              <dd><a href="">消息管理</a></dd>
              <dd><a href="">授权管理</a></dd>
            </dl>
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
          <li class="layui-nav-item">
            <a href="javascript:;">
              <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
              贤心
            </a>
            <dl class="layui-nav-child">
              <dd><a href="">基本资料</a></dd>
              <dd><a href="">安全设置</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
      </div>
      
      <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
          <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
          <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
              <a class="" href="javascript:;">所有商品</a>
              <dl class="layui-nav-child">
                <dd><a href="javascript:;">列表一</a></dd>
                <dd><a href="javascript:;">列表二</a></dd>
                <dd><a href="javascript:;">列表三</a></dd>
                <dd><a href="">超链接</a></dd>
              </dl>
            </li>
            <li class="layui-nav-item">
              <a href="javascript:;">解决方案</a>
              <dl class="layui-nav-child">
                <dd><a href="javascript:;">列表一</a></dd>
                <dd><a href="javascript:;">列表二</a></dd>
                <dd><a href="">超链接</a></dd>
              </dl>
            </li>
            <li class="layui-nav-item"><a href="">云市场</a></li>
            <li class="layui-nav-item"><a href="">发布商品</a></li>
          </ul>
        </div>
      </div>
      
      <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">内容主体区域</div>
      </div>
      
      <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
      </div>
    </div>








   

                <!-- 以下为js文件 -->
   <!--遮罩-->
    <div class="blog-mask animated layui-hide"></div>
    <!-- layui.js -->
    <script src="__PUBLIC__/plug/layui/layui.js"></script>
    <!-- 全局脚本 -->
    <script src="__PUBLIC__/index/Js/global.js"></script>
    <!-- 本页脚本 -->
    <!-- <script src="__PUBLIC__/index/Js/personalcenter.js"></script> -->
    <!-- jquery.js -->
    <!-- <script type="text/javascript" src="__PUBLIC__/plug/jquery-2.1.4.min.js"></script> --> 
</body>
</html>